
<div>
    <form name="createForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span>Accessory</span>
            </h4>
        </div>
        <div class="modal-body">

            <div class="form-group">
                
                
                    <label>Accessory Name [English]</label>
                    <input auto-focus class="form-control" type="text" name="accessoryName" ng-model="vm.accessory.name" required maxlength="50">
              
                    <label>Accessory Name [French]</label>
                    <input  class="form-control" type="text" name="accessoryFrenchName" ng-model="vm.accessory.frenchName" required maxlength="50">
               
            </div>
            
            <div>
                <span class="help-block text-danger" ng-show="!createForm.accessoryName.$valid && createForm.accessoryName.$dirty">Invalid</span>
                <span class="help-block text-danger" ng-show="!createForm.accessoryFrenchName.$valid && createForm.accessoryFrenchName.$dirty">Invalid</span>
            </div>

            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary " ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" class="btn  btn-success" ng-click="vm.save()" ng-disabled="createForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>